BREVO_API_KEY=your_brevo_api_key_here
OWNER_EMAIL=besttourdriversinsrilanka@gmail.com
TOUR_BOOKING_CONFIRMATION_TEMPLATE_ID=your_template_id_here
INQUIRY_NOTIFICATION_TEMPLATE_ID=your_template_id_here
CONTACT_NOTIFICATION_TEMPLATE_ID=your_template_id_here
TAILOR_MODE_NOTIFICATION_TEMPLATE_ID=your_template_id_here
